<%- include("../partials/header", { headerTitle: "Акции и скидки" }) %>
<div class="container">
  <div class="content">
    <table class="discount-table">
      <tr>
        <th>Игра</th>
        <th>Скидка</th>
        <th>Цена</th>
        <th>Действие</th>
      </tr>
      <tr>
        <td>Cyberpunk 2077</td>
        <td>50%</td>
        <td>1499 ₽</td>
        <td><a class="button-link full-width" href="#">Купить</a></td>
      </tr>
      <tr>
        <td>The Witcher 3</td>
        <td>70%</td>
        <td>599 ₽</td>
        <td><a class="button-link full-width" href="#">Купить</a></td>
      </tr>
    </table>
  </div>
  <div class="sidebar">
    <div class="game-card">
      <h3>Скоро закончится</h3>
      <p>Red Dead Redemption 2 -60%</p>
      <a class="button-link full-width" href="#">Успеть купить</a>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>
